/* --------common Shared Style-------- */
body {
  font-family: 'open sans', arial;
}

.text-primary {
  color: #FD6E0A;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* -------Nav Related CSS---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.btn-primary {
  border: 0;
  border-radius: 5px;
  background-color: #FD6E01;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}


/* --------------header related style------------------- */
.header {
  background: #FFF8F3;
  background-image: url('/images/header_bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin: 5px 0px 10px 0px;

}

.banner-description {
  margin-top: 10px;
}

/* ----------main section start---------- */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;
}

/* ---------about section style------- */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

.info-title,
.info-description {
  font-size: 20px;
  margin: 0;
}

#what-i-do-description {
  padding: 30px 150px;
}

.skills-container {
  display: flex;
  gap: 30px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.skill-description {
  color: #757575;
}

.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-institute, .resume-item-description{
  color: #757575;

}

.resume-item-title{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-container hr{
  margin: 30px;
}

.resume-item-institute{
  margin-bottom: 20px;
  margin-top: 0;
}

.download-cv{
  text-align: center;
}

.footer{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 130px 200px;
  margin-top: 100px;
}

.footer-column{
  width: 50%;
}

.contact input[type="text"], .contact input[type="email"], textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  width: 100%;
}

.social-links a{
  margin-right: 25px;
}